/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap'); */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #434455;
    --background-color: #fff;
    --logo-accent-color: #4d5ae5;
    --menu-color: #2e2f42;
    --link-hover-color: #404bbf;
    --contact-color: #434455;
    --navy-blue: #2e2f42;
    --cloud: #f4f4fd;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    background: var(--background-color);
}
img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.flex-row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.footer {
    padding: 102px 0 100px 156px;
    background-color: var(--navy-blue);
    color: var(--logo-accent-color);
}

.logo-ligth {
    color: var(--cloud);
}

.footer-text {
    margin-top: 18px;
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.link:hover,
.link:focus {
    color: var(--link-hover-color);
}

.navigation {
    align-items: center;
    margin-right: 76px;
}

.logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-accent-color);
}

.logo-black {
    color: var(--menu-color);
}

.menu {
    gap: 40px;
}

.menu-item {
    /* padding: 24px 0; */
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link {
    /* padding: 24px 0; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--menu-color);
}

.list-contacts {
    margin-left: 100px;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--contact-color);
}

.section {
    padding: 120px 0;
}

.header-section {
    background-color: var(--navy-blue);
    padding: 188px 0;
}

.quality-section {
    padding: 120px 0;
}

.main-header {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

/* .button-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.button-header {
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--logo-accent-color);
    color: #ffffff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button-header:hover,
.button-header:focus {
    background-color: var(--link-hover-color);
}

.quality-list {
    margin: 0 0 0 156px;
}

.quality-item {
    width: 264px;
    margin-right: 24px;
}

.quality-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.quality-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.works-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.works-list {
    margin: 72px 0 120px 156px;
}

.works-item {
    margin-right: 24px;
}

.our-team {
    background-color: var(--cloud);
}

.our-team-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    
}

.our-team-list {
    padding-left: 156px;
}

 .our-team-item {
    width: 264px;
    margin-right: 24px;
    padding-bottom: 32px;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-item-header {
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.our-team-item-text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.list_button {
    padding: 12px 24px;
    margin-top: 96px;
    margin-right: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--logo-accent-color);
    background-color: var(--cloud);
    cursor: pointer;

    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.list_button:hover,
.list_button:focus {
    color: #ffffff;
    background-color: var(--link-hover-color);
}

.product-header {
    margin: 32px 0 8px 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.product-type {
    margin-left: 16px;
    color: var(--contact-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 72px;
    margin-bottom: 120px;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    border: 1px solid #E7E9FC;
    padding-bottom: 32px;
}
